@(authors : List[Author])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Author</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Add New Author</h1>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3">
                    <h3>Existing Authors</h3>
                    <ol>
                        @for(author <-authors){
                        <li>@author.getFirstName @author.getLastName</li>
                        }
                    </ol>
                </div>
                <div class="col-6">
                    <form method="post" class="form-group">
                        @helper.CSRF.formField
                        <div class="row">
                            <div class="col-6">
                                <label for="firstName">First Name:</label>
                                <input type="text" class="form-control" name="firstName" id="firstName">
                            </div>
                            <div class="col-6">
                                <label for="lastName">Last Name:</label>
                                <input type="text" class="form-control" name="lastName" id="lastName">
                            </div>
                            <div class="col-3"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <input type="submit" class="form-control btn btn-success" value="Add">
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </form>
                </div>
                <div class="1"></div>
            </div>
        </div>
    </body>
</html>