<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Author</title>
    </head>
    <body>
        <form method="post">
            @helper.CSRF.formField
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName">

            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" id="lastName">
            <input type="submit" value="Add">
        </form>
    </body>
</html>