<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Author</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Add an Author</h1>
        <form method="post">
            @helper.CSRF.formField
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName">

            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" id="lastName">
            <input type="submit" value="Add">
        </form>
        </div>
    </body>
</html>