@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Book</title>
    </head>
    <body>
        <h1>Add Book Page</h1>
        <ul>all fields show up blank so user can type/choose them
            <li>book name</li>
            <li>author first name and last name fields</li>
            <li>ISBN</li>
            <li>book type</li>
            <li>book genre</li>
            <li>book status</li>
            <li>save button --> takes back to main book list page</li>
            <li>cancel button --> takes back to main book list page</li>
        </ul>
    </body>
</html>