@(bookTypes : List[BookType])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add New Category</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body class="bg-light">
        <div class="container">
            <h1 class="text-center">Add New Category</h1>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <h2>Existing Categories</h2>
                    <ol>
                        @for(bookType <- bookTypes){
                        <li>@bookType.getBookTypeName</li>
                        }
                    </ol>
                </div>
                <div class="col-4">
                    <form method="post" class="form-group">
                        @helper.CSRF.formField
                        <label for="bookTypeName">Book Category Name:</label>
                        <input type="text" class="form-control" name="bookTypeName" id="bookTypeName" maxlength="25">
                        <br>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <input type="submit" class="form-control btn btn-success" value="Save">
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </form>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </body>
</html>