@(genres : List[Genre])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add New Genre</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/new.css">
    </head>
    <body class="bg-light">

        <nav class="navbar navbar-expand-sm bg-dark navbar-primary fixed-top justify-content-center">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getHomePage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getList">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getAddBook">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getAuthorSummaryList">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getBookTypeReport">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getGenreReport">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getBookStatusReport">Status</a>
                </li>
            </ul>
        </nav>

        <br><br>

        <div class="jumbotron">
            <h1 class="text-center"><font color="white" size="20">DIGITAL LIBRARY</font></h1>
        </div>
        <div class="container">
            <h2 class="text-center">Add New Genre</h2>
            <br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <h3>Existing Genres</h3>
                    <ol>
                        @for(genre <- genres){
                        <li>@genre.getGenreName</li>
                        }
                    </ol>
                </div>
                <div class="col-4">
                    <form method="post">
                        <div class="form-group">
                            @helper.CSRF.formField
                            <label for="genreName">Genre Name: </label>
                            <input type="text" class="form-control" name="genreName" id="genreName" maxlength="25" required>
                            <br>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <input type="submit" class="form-control btn btn-success" value="Add">
                                </div>
                                <div class="col-4">
                                    <a href="@routes.BookController.getGenreList"
                                       class="form-control btn btn-danger">Cancel</a>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <br>
    </body>
</html>