@(genres : List[Genre])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add New Genre</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body class="bg-light">
        <div class="container">
            <h1 class="text-center">Add New Genre</h1>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <h3>Existing Genres</h3>
                    <ol>
                        @for(genre <- genres){
                        <li>@genre.getGenreName</li>
                        }
                    </ol>
                </div>
                <div class="col-4">
                    <form method="post">
                        <div class="form-group">
                            @helper.CSRF.formField
                            <label for="genreName">Genre Name: </label>
                            <input type="text" class="form-control" name="genreName" id="genreName" maxlength="25">
                            <br>
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <input type="submit" class="form-control btn btn-success" value="Add">
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </body>
</html>