@(authors : List[Author])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All Authors</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <h1>List of All Authors</h1>
            <p>Total: @authors.size</p>
        <form>
            <div class="form-group">
                <label for="searchName">Search: </label>
                <input type="text" name="searchName" id="searchName">
                <input type="submit" value="Search">
            </div>
        </form>
        <table>
            <tr>
                <th>Author ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            @for(author <- authors){
            <tr>
                <td>@author.getAuthorId</td>
                <td>
                    <a href="@routes.BookController.getEditAuthor(author.getAuthorId)">@author.getFirstName</a>
                </td>
                <td>
                    <a href="@routes.BookController.getEditAuthor(author.getAuthorId)">@author.getLastName</a>
                </td>
            </tr>
            }
        </table>
        </div>
    </body>
</html>