@(authors : List[Author])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All Authors</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">All Authors</h1>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <form>
                        <div class="form-group">
                            <input type="text" name="searchName" id="searchName" maxlength="25" class="form-control"
                                   placeholder="Enter Author Name...">
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <input type="submit" class="form-control btn btn-primary" value="Search">
                </div>
                <div class="col-1"></div>
                <div class="col-2">
                    <a href="@routes.BookController.getAddAuthor" class="btn btn-danger" role="button">Add Author</a>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <table class="table table-striped thead-dark table-hover">
                        <tr>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                        </tr>
                        @for(author <- authors){
                        <tr>
                            <td class="text-center">
                                <a href="@routes.BookController.getEditAuthor(author.getAuthorId)">@author.getFirstName</a>
                            </td>
                            <td class="text-center">
                                <a href="@routes.BookController.getEditAuthor(author.getAuthorId)">@author.getLastName</a>
                            </td>
                        </tr>
                        }
                    </table>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                    <p>Total: @authors.size</p>
                </div>
                <div class="col-8"></div>
            </div>
        </div>
    </body>
</html>