@(authors : List[Author])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All Authors</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/new.css">
    </head>
    <body class="bg-light">

        <nav class="navbar navbar-expand-sm bg-dark navbar-primary fixed-top justify-content-center">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getHomePage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getList">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getAddBook">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getAuthorSummaryList">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getBookTypeReport">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getGenreReport">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getBookStatusReport">Status</a>
                </li>
            </ul>
        </nav>

        <br><br>

        <div class="jumbotron">
            <h1 class="text-center"><font color="white" size="28">DIGITAL LIBRARY</font></h1>
        </div>
        <div class="container">
            <h2 class="text-center">All Authors</h2>
            <br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-5">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" name="searchName" id="searchName" maxlength="25" class="form-control"
                                           placeholder="Enter Author Name...">
                                </div>
                                <div class="col-2">
                                    <input type="submit" class="btn btn-primary" value="Search">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-1"></div>
                <div class="col-2">
                    <a href="@routes.BookController.getAddAuthor" class="form-control btn btn-danger" role="button">Add Author</a>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <table class="table table-striped thead-dark table-hover">
                        <tr>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                        </tr>
                        @for(author <- authors){
                        <tr>
                            <td class="text-center">
                                <a href="@routes.BookController.getEditAuthor(author.getAuthorId)">@author.getFirstName</a>
                            </td>
                            <td class="text-center">
                                <a href="@routes.BookController.getEditAuthor(author.getAuthorId)">@author.getLastName</a>
                            </td>
                        </tr>
                        }
                    </table>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                    <p>Total: @authors.size</p>
                </div>
                <div class="col-8"></div>
            </div>
        </div>
    </body>
</html>