@(authorSummaries : List[AuthorSummary])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Authors</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Authors</h1>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" name="searchName" id="searchName" maxlength="25"
                                   placeholder="Enter Author Name...">
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <input type="submit" class="form-control btn btn-primary" value="Search">
                </div>
                <div class="col-1"></div>
                <div class="col-2">
                    <a href="@routes.BookController.getAddAuthor" class="btn btn-danger" role="button">Add Author</a>
                </div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <table class="table table-striped thead-dark table-hover">
                        <tr>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Total Books</th>
                        </tr>
                        @for(authorSummary <- authorSummaries){
                        <tr>
                            <td class="text-center">
                                <a href="@routes.BookController.getEditAuthor(authorSummary.getAuthorId)">@authorSummary.getLastName</a>
                            </td>
                            <td class="text-center">
                                <a href="@routes.BookController.getEditAuthor(authorSummary.getAuthorId)">@authorSummary.getFirstName</a>
                            </td>
                            <td class="text-center">@authorSummary.getTotalBookCount</td>
                        </tr>
                        }
                    </table>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                    <p>Total: @authorSummaries.size</p>
                </div>
                <div class="col-5"></div>
                <div class="col-2">
                    <p><a href="@routes.BookController.getAuthorList">All Authors</a></p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </body>
</html>