@(authorSummaries : List[AuthorSummary])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Authors</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">List of Authors with Books</h1>
            <div class="row">
                <div class="col-10">
                    <form class="form-horizontal">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-2 control-label" for="searchName">Search:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="searchName" id="searchName">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-2">
                   <input type="submit" class="form-control btn btn-primary" value="Search">
                </div>
            </div>

            <p>Total: @authorSummaries.size</p>
            <p><a href="@routes.BookController.getAddAuthor">Add an Author</a></p>
            <p><a href="@routes.BookController.getAuthorList">All Authors</a></p>

            <table class="table table-striped thead-dark table-hover">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Total Books</th>
                </tr>
                @for(authorSummary <- authorSummaries){
                <tr>
                    <td>
                        <a href="@routes.BookController.getEditAuthor(authorSummary.getAuthorId)">@authorSummary.getLastName</a>
                    </td>
                    <td>
                        <a href="@routes.BookController.getEditAuthor(authorSummary.getAuthorId)">@authorSummary.getFirstName</a>
                    </td>
                    <td>@authorSummary.getTotalBookCount</td>
                </tr>
                }
            </table>
        </div>
    </body>
</html>