@(authorSummaries : List[AuthorSummary])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Authors</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>List of Authors (with books in database)</h1>
            <form>
                <div class="form-group">
                    <label for="searchName">Search: </label>
                    <input type="text" name="searchName" id="searchName">
                    <input type="submit" value="Search">
                </div>
            </form>

            <p>Total: @authorSummaries.size</p>
            <p><a href="@routes.BookController.getAddAuthor">Add an Author</a></p>
            <p><a href="@routes.BookController.getAuthorList">All Authors</a></p>

            <table class="table table-striped thead-dark table-hover">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Total Books</th>
                </tr>
                @for(authorSummary <- authorSummaries){
                <tr>
                    <td>
                        <a href="@routes.BookController.getEditAuthor(authorSummary.getAuthorId)">@authorSummary.getLastName</a>
                    </td>
                    <td>
                        <a href="@routes.BookController.getEditAuthor(authorSummary.getAuthorId)">@authorSummary.getFirstName</a>
                    </td>
                    <td>@authorSummary.getTotalBookCount</td>
                </tr>
                }
            </table>
        </div>
    </body>
</html>