@(books : List[BookDetail])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Library</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/new.css">
    </head>
    <body class="bg-light">

        <nav class="navbar navbar-expand-sm bg-dark navbar-primary fixed-top justify-content-center">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getHomePage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getList">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getAddBook">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getAuthorSummaryList">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getBookTypeReport">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getGenreReport">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getBookStatusReport">Statuses</a>
                </li>
            </ul>
        </nav>

        <br><br>

        <div class="jumbotron">
            <h1 class="text-center"><font color="white" size="20">DIGITAL LIBRARY</font></h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-8">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" name="searchName" id="searchName"
                                           placeholder="Enter book title...">
                                </div>
                                <div class="col-2">
                                    <input type="submit" class="btn btn-primary" value="Search">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-2"></div>
                <div class="col-2">
                    <a href="@routes.BookController.getAddBook" class="form-control btn btn-danger" role="button">Add Book</a>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <table class="table table-striped thead-dark table-hover">
                        <tr>
                            <th>Book Title</th>
                            <th>Author</th>
                            <th>Status</th>
                        </tr>
                        @for(book <- books){
                        <tr>
                            <td>
                                <a href="@routes.BookController.getBookInfo(book.getBookId)">@book.getBookName</a>
                            </td>
                            <td>@book.getLastName @book.getFirstName</td>
                            <td>@book.getBookStatusName</td>
                        </tr>
                        }
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    Total: @books.size
                </div>
                <div class="col-10"></div>
            </div>
        </div>
    </body>
</html>