@(bookStatuses : List[BookStatus])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Status</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body class="bg-light">
        <h1>List of Book Statuses</h1>
        <p>Total: @bookStatuses.size</p>

        <table class="table table-striped thead-dark table-hover">
            <tr>
                <th>Book Status ID</th>
                <th>Status Name</th>
            </tr>
            @for(bookStatus <- bookStatuses){
            <tr>
                <td>@bookStatus.getBookStatusId</td>
                <td>@bookStatus.getBookStatusName</td>
            </tr>
            }
        </table>

        <a href="@routes.BookController.getBookStatusReport">Status Chart</a>

    </body>
</html>