@(bookTypeSummaries : List[BookTypeSummary], dataPoints : String, dataLabels : String)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Category Chart</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/lib/chart.js/dist/Chart.min.css">
        <script type="text/javascript" src="/assets/lib/chart.js/dist/Chart.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Category Summary</h1>
            <div class="row">
                <div class="col-4">
                    <table class="table table-striped">
                        <tr>
                            <th>Category</th>
                            <th>Total Book Count</th>
                        </tr>
                        @for(bookTypeSummary <- bookTypeSummaries){
                        <tr>
                            <td>@bookTypeSummary.getBookTypeName</td>
                            <td>@bookTypeSummary.getTotalTypeCount</td>
                        </tr>
                        }
                    </table>
                </div>
                <div class="col-1"></div>
                <div class="col-7">
                    <canvas id="totalTypeCount" width="150" height="150"
                            data-points="@dataPoints" data-labels="@dataLabels"></canvas>
                    <script type="text/javascript" src="/assets/javascripts/totalTypeCount.js"></script>
                </div>
            </div>

            <a href="@routes.BookController.getTypeList">All Categories</a>

        </div>
    </body>
</html>