@(bookTypeSummaries : List[BookTypeSummary], dataPoints : String, dataLabels : String)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Category Chart</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/lib/chart.js/dist/Chart.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/new.css">
        <script type="text/javascript" src="/assets/lib/chart.js/dist/Chart.min.js"></script>
    </head>
    <body class="bg-light">

        <nav class="navbar navbar-expand-sm bg-dark navbar-primary fixed-top justify-content-center">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getHomePage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getList">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getAddBook">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getAuthorSummaryList">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getBookTypeReport">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getGenreReport">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getBookStatusReport">Statuses</a>
                </li>
            </ul>
        </nav>

        <br><br>

        <div class="jumbotron">
            <h1 class="text-center"><font color="white" size="20">DIGITAL LIBRARY</font></h1>
        </div>
        <div class="container">
            <h2 class="text-center">Category Summary</h2>
            <br>
            <div class="row">
                <div class="col-4">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-center">Category</th>
                            <th class="text-center">Total Book Count</th>
                        </tr>
                        @for(bookTypeSummary <- bookTypeSummaries){
                        <tr>
                            <td class="text-center">
                                <a href="@routes.BookController.getTypesList(bookTypeSummary.getBookTypeId)">@bookTypeSummary.getBookTypeName</a>
                            </td>
                            <td class="text-center">@bookTypeSummary.getTotalTypeCount</td>
                        </tr>
                        }
                    </table>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <a href="@routes.BookController.getTypeList"
                               class="form-control btn btn-info">All Categories</a>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-7">
                    <canvas id="totalTypeCount" width="150" height="150"
                            data-points="@dataPoints" data-labels="@dataLabels"></canvas>
                    <script type="text/javascript" src="/assets/javascripts/totalTypeCount.js"></script>
                </div>
            </div>
        </div>
        <br>
    </body>
</html>