@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Library</title>
    </head>
    <body>
        <h1>Library</h1>
        <ul>Once I get data into the database, this page will show:
            <li>search box to search by book title or author</li>
            <li>list of book titles, authors, and status listed alphabetically by book</li>
            <li>total number of books in library at bottom of page</li>
        </ul>

        <img src="http://covers.openlibrary.org/b/isbn/9780385533225-L.jpg">
    </body>
</html>