@(book : Book, bookTypes : List[BookType], genres : List[Genre], bookStatuses : List[BookStatus], authors : List[Author])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Book</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/new.css">
    </head>
    <body class="bg-light">

        <nav class="navbar navbar-expand-sm bg-dark navbar-primary fixed-top justify-content-center">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getHomePage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getList">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getAddBook">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getAuthorSummaryList">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getBookTypeReport">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getGenreReport">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.BookController.getBookStatusReport">Statuses</a>
                </li>
            </ul>
        </nav>

        <br><br>

        <div class="jumbotron">
            <h1 class="text-center"><font color="white" size="20">DIGITAL LIBRARY</font></h1>
        </div>
        <div class="container">
            <h2 class="text-center">Edit Book</h2>
            <br>
            <form method="post">
                @helper.CSRF.formField
                <div class="row">
                    <div class="col-3">
                        <img src="http://covers.openlibrary.org/b/isbn/@book.getISBN-L.jpg" alt="book cover image">
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-10">
                                <div class="form-group">
                                    <label for="bookName">Book Title:</label>
                                    <input type="text" class="form-control" name="bookName" id="bookName" value="@book.getBookName"
                                           maxlength="75" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="ISBN">ISBN:</label>
                                    <input type="text" class="form-control" name="ISBN" id="ISBN" value="@book.getISBN" required>
                                </div>
                            </div>
                            <div class="col-4">
                                <label for="authorName">Author Name:</label>
                                <select class="form-control" name="authorName" id="authorName">
                                    @for(author <- authors){
                                    @if(book.getAuthorId == author.getAuthorId){
                                    <option value="@author.getAuthorId" selected>@author.getFirstName @author.getLastName
                                    </option>
                                    }else{
                                    <option value="@author.getAuthorId">@author.getFirstName @author.getLastName</option>
                                    }
                                    }
                                </select>
                            </div>
                            <div class="col-3"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-3">
                                <label for="bookStatusId">Status:</label>
                                <select class="form-control" name="bookStatusId" id="bookStatusId">
                                    @for(bookStatus <- bookStatuses){
                                    @if(book.getBookStatusId == bookStatus.getBookStatusId){
                                    <option value="@bookStatus.getBookStatusId" selected>@bookStatus.getBookStatusName
                                    </option>
                                    }else{
                                    <option value="@bookStatus.getBookStatusId">@bookStatus.getBookStatusName</option>
                                    }
                                    }
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="bookTypeId">Category:</label>
                                <select class="form-control" name="bookTypeId" id="bookTypeId">
                                    @for(bookType <- bookTypes){
                                    @if(book.getBookTypeId == bookType.getBookTypeId){
                                    <option value="@bookType.getBookTypeId" selected>@bookType.getBookTypeName
                                    </option>
                                    }else{
                                    <option value="@bookType.getBookTypeId">@bookType.getBookTypeName</option>
                                    }
                                    }
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="genreId">Genre:</label>
                                <select class="form-control" name="genreId" id="genreId">
                                    @for(genre <- genres){
                                    @if(book.getGenreId == genre.getGenreId){
                                    <option value="@genre.getGenreId" selected>@genre.getGenreName
                                    </option>
                                    }else{
                                    <option value="@genre.getGenreId">@genre.getGenreName</option>
                                    }
                                    }
                                </select>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-3">
                                <input type="submit" class="form-control btn btn-primary" value="Save">
                            </div>
                            <div class="col-3">
                                <a href="@routes.BookController.getBookInfo(book.getBookId)" class="form-control btn btn-danger">Cancel</a>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
        <br>
    </body>
</html>