@(genres : List[Genre])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Genres</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/new.css">
    </head>
    <body class="bg-light">
        <div class="jumbotron">
            <h1 class="text-center"><font color="white" size="20">DIGITAL LIBRARY</font></h1>
        </div>
        <div class="container">
            <h2 class="text-center">All Genres</h2>
            <br>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-3">
                    <ol>
                        @for(genre <- genres){
                        <li>
                            <a href="@routes.BookController.getEditGenre(genre.getGenreId)">@genre.getGenreName</a>
                        </li>
                        }
                    </ol>
                </div>
                <div class="col-5">
                    <p><a href="@routes.BookController.getHomePage">Home</a></p>
                    <p><a href="@routes.BookController.getAddGenre">Add a Genre</a></p>
                </div>
            </div>
        </div>
    </body>
</html>