@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <h1 class="text-center">Home Page</h1>
            <br>
            <div class="row">
                <div class="col-4"></div>
                <a href="@routes.BookController.getList" class="btn btn-success" role="button">Library</a>
                <div class="col-1"></div>
                <a href="@routes.BookController.getAuthorSummaryList" class="btn btn-secondary" role="button">Authors</a>
                <div class="col-1"></div>
                <a href="@routes.BookController.getAddBook" class="btn btn-primary" role="button">Add Book</a>
            </div>
            <br>
            <div class="row">
                <div class="col-3"></div>
                <a href="@routes.BookController.getTypeList" class="btn btn-info" role="button">Categories</a>
                <div class="col-1"></div>
                <a href="@routes.BookController.getGenreList" class="btn btn-warning" role="button">Genres</a>
                <div class="col-1"></div>
                <a href="@routes.BookController.getStatusList" class="btn btn-danger" role="button">Status</a>
            </div>


        </div>
    </body>
</html>