@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <h1 class="text-center">Welcome to Your Digital Library</h1>
            <br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3">
                    <a href="@routes.BookController.getList">
                        <img src="/assets/images/librarybutton5.jpg" alt="Library" height="150">
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-3">
                    <a href="@routes.BookController.getAddBook">
                        <img src="/assets/images/addbookbutton.png" alt="Add Book" height="150">
                    </a>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3">Library</div>
                <div class="col-2"></div>
                <div class="col-3">Add Book</div>
                <div class="col-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3">
                    <a href="@routes.BookController.getAuthorSummaryList">
                        <img src="/assets/images/authorbutton.jpg" alt="Profile" height="150">
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-3">
                    <a href="@routes.BookController.getBookTypeReport">
                        <img src="/assets/images/categorybutton.png" alt="Category" height="150">
                    </a>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3">Authors</div>
                <div class="col-2"></div>
                <div class="col-3">Categories</div>
                <div class="col-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3">
                    <a href="@routes.BookController.getGenreReport">
                        <img src="/assets/images/genrebutton3.png" alt="Genres" height="150">
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-3">
                    <a href="@routes.BookController.getBookStatusReport">
                        <img src="/assets/images/statusbutton.png" alt="Status" height="150">
                    </a>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3">Genres</div>
                <div class="col-2"></div>
                <div class="col-3">Status</div>
                <div class="col-2"></div>
            </div>
        </div>
    </body>
</html>